@font-face {
  font-family: 'my-font';
  src: url('./HarmonyOS_Sans_Bold.ttf');
  font-weight: 600;
  font-style: normal;
}
.hello {
  color: red;
  font-family: 'my-font';
  background: url('./icon.png');
}